
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');


.toast-container {
    position: fixed;  
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
  
    z-index: 9999;
    
  }
  
  .toast {
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    position: relative;
  
  }
  
  .toast.active {
    transform: translateX(0%);
  }
  
  .toast .toast-content {
    display: flex;
    align-items: center;
  }
  
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
  }
  
  .toast-content .message {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin: 0 20px;
  }
  
  .message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
  }
  
  .message .text.text-1 {
    font-weight: 600;
    color: #333;
  }
  
  .toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 2px;
    cursor: pointer;
    opacity: 0.7;
    font-size: 16px;
  }
  
  .toast .close:hover {
    opacity: 1;
  }
  
  .toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
  }
  
  .toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
  
  .progress.active:before {
    animation: progress 2s linear forwards;
  }
  
  @keyframes progress {
    100% {
      right: 100%;
    }
  }
  
  .toast.success .check {
    background-color: #28a745;
  }
  
  .toast.success .progress:before {
    background-color: #28a745;
  }
  
  .toast.error .check {
    background-color: #dc3545;
  }
  
  .toast.error .progress:before {
    background-color: #dc3545;
  }
  
  .toast.warning .check {
    background-color: #ffc107;
  }
  
  .toast.warning .progress:before {
    background-color: #ffc107;
  }