@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  display: flex;
}

.profile {
  margin-bottom: 0px;
}
.sidebar
{
  z-index: 10000;
}
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.main-content.expanded {
  margin-left: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header h1 {
  margin: 0;
}

a {
  text-decoration: none;
}
.description
{
    color: rgba(124, 132, 147, 1);
    margin-top: 10px;
}

.back-button {
  padding: 10px 20px;
  background-color: #e0e8ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}
.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}










.container {
  width: 100%;
  height: 1000px;
  margin: 0 auto;
  background-color: #fff;
  padding-inline: 80px;
  padding-top: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 20px;
}
textarea
{
  width: 100%;
}

.job-type-cointainer
{
  
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-evenly;
  position: relative;
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

.form-group small {
  display: block;
  margin-top: 5px;
  color: #999;
}

.job-type
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 10px;
}
.job-type input
{
  position: absolute;
  bottom: 8px;
}
.job-type label
{
  margin-bottom: 5px;
  margin-left: 30px;
}


.salary-range input[type="number"] {
  flex: 1;
}

.salary-range span {
  margin: 0 10px;
}



.container button {
  margin-top: 300px;
  display: block;
  margin-inline: auto;
  width: 80%;
  padding: 15px;
  background-color:  rgba(70, 64, 222, 1);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}



@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.hidden {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0;
  }

  .menu-button {
    display: inline-block;
  }
}
