@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gmail-cointainer {
  height: 100vh;
  width: 100%;
}
.background {
  z-index: -1;
  position: fixed;
  inset: 0;
}
.background img {
  height: 100%;
  width: 100%;
}
.gmail-content {
  height: 100%;
  width: 100%;
  display: flex;

}

.gmail-content .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
margin-left: 170px;
  margin-right: 125px;
 
}
.gmail-content .col-1 .row-1 {
  font-size: 40px;
  width:350px;
  font-family: "Open Sans", sans-serif;
}
.gmil-ui {
  font-weight: 800;
  color: rgba(47, 128, 237, 1);
}
.gmail-content .col-1 .row-2 {
  font-family: "Open Sans", sans-serif;
  margin-left: 50px;
  margin-top: 40px;
  font-size: 30px;
  font-weight: 600;

}

.year {
  font-weight: 800;
  color: #000;
}
.template {
  font-weight: 600;
}

.gmail-content .col-2 {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-right: 150px;
}

.gmail-content .col-2 .img-1 img,
.gmail-content .col-2 .img-2 img {
  margin-top: 180px;
  width: 200.41px;

}

.gmail-content .col-2 .img-1 ,.gmail-content .col-2 .img-2
{
  position: relative;
}
.second-img
{
  position: absolute;
z-index: -1;
left: 33px;
bottom: 40px;


}
.third-img
{
  position: absolute;
z-index: -1;
left: 33px;
bottom: 40px;
}